<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mydnstudyproject">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".high.grade.ui.chapter4.PaintXfermodeTestActivity"></activity>
        <activity android:name=".high.grade.ui.chapter3.GradientTestActivity" />
        <activity android:name=".high.grade.ui.chapter2.MeasureDrawTestActivity" />
        <activity android:name=".high.grade.ui.UIMainActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>